<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div class="container-fluid">
        <div class="row">
          <div class="card section" style="height: 425px;">
            <h4 class="card-head">Search Certifications</h4>
            <div style = "margin: 20px;">
              <ng-template #rt let-r="result" let-t="term">
                <div (click) = addToSearched(r)>
                  {{r.certificationName}} - {{r.certCategoryName}}
                </div>
              </ng-template>
              <div class="input-group mb-3">
                <input placeholder ="Search for a certification Name" id="typeahead-template" type="text" class="form-control" [(ngModel)]="certificationSearchBox" [ngbTypeahead]="certificationSearch" [resultTemplate]="rt"
                [inputFormatter]="formatter" (keydown.enter) = enterAddToSearched() (focus) = clearSearchBox() (focusout) = clearSearchBox()/>
                <div class="input-group-append">
                  <button class="btn is-blue text-white" type="button" (click) = clearSearched()>Clear Results</button>
                </div>
              </div>
              <div *ngIf = "searchedCertifications.length == 0" style ="text-align:center; margin-top:50px;">
                  <i class="fas fa-users bigIcon"></i>
              </div>
              <div>
                <div *ngFor="let cert of searchedCertifications" style="margin:0px; padding:0px;">
                  <div class="skill"  [ngClass]="{
                  'active-skill': searchedCertificationsOpen[cert.certificationName]}">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-8" (click) = toggleSearchedCertificationsOpen(cert.certificationName)><strong>{{cert.certificationName}}</strong></div>
                      <div class="col-sm-1" style="margin-left: auto;">
                        <h4 (click) = "openEditModal(cert, updateCertModal)"><i class="far fa-edit"></i></h4>
                      </div>
                      <div class="col-sm-1" style="margin-left: auto;">
                        <h4 (click) = "deleteCertification(cert.certificationId)"><i class="fas fa-trash-alt"></i></h4>
                      </div>
                      <div class="col-auto" style="margin-left: auto;" (click) = toggleSearchedCertificationsOpen(cert.certificationName)>
                        <h5> <i [ngClass]="{
                          'fas fa-caret-up': searchedCertificationsOpen[cert.certificationName],
                          'fas fa-caret-down': !searchedCertificationsOpen[cert.certificationName]}"></i></h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden] = "!searchedCertificationsOpen[cert.certificationName]" class="panel">
                  <p>Id: {{cert.certificationId}}</p>
                  <p>Type: {{cert.certCategoryName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="min-height: 300px; width: 100%; margin-bottom: 50px;">
          <h4 class="card-head">Create New Certification</h4>
          <div style="margin: 30px">
            <input (focus) = "clearNameBox()" class="form-control" placeholder="Certification Name" style="margin-bottom: 15px;" [(ngModel)] = "createCertNameBox">
            <select class="form-control" style="margin-bottom: 15px;" [(ngModel)] = "createCertCategoryBox">
              <option *ngFor = "let category of categories" [ngValue] = "category">{{category.certCategoryName}}</option>
            </select>
            <button class="btn is-blue text-white float-right" (click) = createCertification()>Create Certification</button>
            <div *ngIf = "createCertSuccess">
              <ngb-alert type="success" (close)="closeCreateCertAlert()">Certification Created!</ngb-alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <div class="card section" style="height: 775px;">
      <h4 class="card-head">Browse Certifications</h4>
      <ul class="item-list" style ="margin-right:30px;">
        <li *ngFor = "let certCategory of certificationCategories">
          <div class="accordion" (click) = toggleCertificationCategoriesOpen(certCategory) [ngClass]="{
          'active': certificationCategoriesOpen[certCategory]}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-auto">
                <h5>{{certCategory}}</h5>
              </div>
              <div class="col-auto" style="margin-left: auto;">
                <h5>
                  <i [ngClass]="{
                    'fas fa-caret-up': certificationCategoriesOpen[certCategory],
                    'fas fa-caret-down': !certificationCategoriesOpen[certCategory]}"></i>
                </h5>
              </div>
            </div>
          </div>
    </div>
    <div [hidden] = "!certificationCategoriesOpen[certCategory]" >
    <ul class="item-list">
    <li *ngFor="let cert of certifications" style="margin:0px; padding:0px;">
    <div *ngIf="cert.certCategoryName == certCategory">
    <div class="skill"  [ngClass]="{
    'active-skill': certificationsOpen[cert.certificationName]}">
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8" (click) = toggleCertificationsOpen(cert.certificationName)><strong>{{cert.certificationName}}</strong></div>
    <div class="col-sm-1" style="margin-left: auto;">
    <h4 (click) = "openEditModal(cert, updateCertModal)"><i class="far fa-edit"></i></h4>
    </div>
    <div class="col-sm-1" style="margin-left: auto;">
    <h4 (click) = "deleteCertification(cert.certificationId)"><i class="fas fa-trash-alt"></i></h4>
    </div>
    <div class="col-auto" style="margin-left: auto;" (click) = toggleCertificationsOpen(cert.certificationName)>
    <h5> <i [ngClass]="{
      'fas fa-caret-up': certificationsOpen[cert.certificationName],
      'fas fa-caret-down': !certificationsOpen[cert.certificationName]}"></i></h5>
    </div>
    </div>
    </div>
    </div>
    <div [hidden] = "!certificationsOpen[cert.certificationName]" class="panel">
      <p>Id: {{cert.certificationId}}</p> 
    <p>Category: {{cert.certCategoryName}}</p>
    </div>
    </div>
    </li>
    </ul>
  </div>
  </li>
  </ul>
</div>
</div>
<div class="col-lg-1"></div>
</div>
</div>

<!--Update Cert Modal-->
<ng-template #updateCertModal let-c="close" let-d="dismiss">
  <div class="modal-header is-blue">
    <h4 class="modal-title text-white" id="modal-basic-title">Update Certification</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="certName">Certification Name</label>
        <input name ="certName" type="text" class="form-control" placeholder="Certification Name" [(ngModel)]="editCertNameBox">
        <label for="certCategory">Certification Category</label>
        <select name ="certCategory" class="form-control" style="margin-bottom: 15px;" [(ngModel)]="editCertCategoryBox">
          <option *ngFor = "let category of categories" [ngValue] = "category">{{category.certCategoryName}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn is-blue text-white" (click) = "updateCertification()">Update</button>
  </div>
</ng-template>
