<nav class="navbar is-blue" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <h2 class="is-size-2 text-white has-text-weight-semibold">SkillTrax</h2>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
        </div>
        <div class="navbar-menu">
                <div class="navbar-end">
                        <a class="navbar-item text-white" routerLink="home">
                            Home
                        </a>  
                        <a class="navbar-item text-white" routerLink="profile"> 
                            Profile
                        </a>
                        <a class="navbar-item text-white">
                                Skills
                        </a>  
                        <a class="navbar-item text-white">
                                Certifications
                        </a>   
                </div>
        </div>
</nav>
