

<div class="accordion" (click) = togglePanel()>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
          <h4>{{employee.firstName}} {{employee.lastName}}</h4>
      </div>
      <div class="col-sm-1">
    
      </div>
      <div class="col-sm-2">
          <h4 *ngIf="isAdmin"><i class="far fa-edit"></i></h4>
      </div>
      <div class="col-sm-1">
          <h4><i [ngClass]="{
            'fas fa-caret-up': isOpen,
            'fas fa-caret-down': !isOpen}">
          </i></h4>
      </div>
    </div>
  </div>
</div>
<div [hidden] = "!isOpen" class="panel">
    <ngb-tabset justify="center">
        <ngb-tab>
            <ng-template ngbTabTitle><b>About</b></ng-template>
          <ng-template ngbTabContent>
            <div class="container">
              <div class="col-xs-6">
                  <h4>{{employee.firstName}} {{employee.lastName}}</h4>
                  <h6>Email: {{employee.adUniqueIdentifier}}</h6>
                  <h6>Phone: 555-555-5555</h6>
              </div>
              <div class="col-xs-6">
                <h5>Role: {{employee.roleName}}</h5>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Skills</b></ng-template>
          <ng-template ngbTabContent>
            <ul>
              <li *ngFor="let skill of employee.skills">
                {{skill.skillName}}
              </li>
            </ul>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Certifications</b></ng-template>
          <ng-template ngbTabContent>
              <ul>
                  <li *ngFor="let cert of employee.certifications">
                    {{cert.certificationName}}
                  </li>
                </ul>
           </ng-template>
        </ngb-tab>
      </ngb-tabset>
</div>
