<div class="container-fluid" *ngIf="employee">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <h2>{{employee.firstName}} {{employee.lastName}}</h2>
      <h4><strong>Contact Info</strong></h4> 
      <h5>Phone: 555-555-5555</h5>
      <h5>Email: {{employee.adUniqueIdentifier}}</h5>
    </div>
    <div class="col-lg-5">
      <br>
      <h4>Role: {{employee.roleName}}</h4>
    </div>
    <div class="col-lg-1"></div>
  </div>


  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-1"></div>
    <!--skills section-->
      <div class="col-lg-5">
        <div class="card">
          <h3 class="center">Skills</h3>
          <button class="btn add-btn" style="margin-bottom: 15px;" (click)="open(addSkill)">Add Skill</button>

          <ul class="item-list" style="margin-right:30px;">
            <li *ngFor="let skillType of skillTypes">
              <div class="accordion" (click) = toggleSkillDropdowns(skillType) [ngClass]="{
                'active': skillTypesOpen[skillType]}">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-auto">
                        <h5>{{skillType}}</h5>
                    </div>
                    <div class="col-auto" style="margin-left: auto;">
                      <h5>
                      <i [ngClass]="{
                        'fas fa-caret-up': skillTypesOpen[skillType],
                        'fas fa-caret-down': !skillTypesOpen[skillType]}"></i>
                       </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div [hidden] = "!skillTypesOpen[skillType]" >
                <ul class="item-list">
                  <li *ngFor="let skill of employee.skills" style="margin:0px; padding:0px;">
                    <div *ngIf="skill.skillTypeName == skillType" class="list-item">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-auto"><strong>{{skill.skillName}}</strong></div>
                          <div class="col-auto" style="margin-left: auto;">
                             <h4 class = "clickable" (click) = removeSkill(skill.skillId)><i class="far fa-times-circle"></i></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>     
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--Certifications section-->
      <div class="col-lg-5">
        <div class="card">
            <h3 class="center">Certifications</h3>
            <button class="btn add-btn" style="margin-bottom: 15px;" (click)= open(addCertification)>Add Certification</button>
            
            <ul class="item-list" style="margin-right:30px;">
              <li *ngFor="let certCategory of certificationCategories">
                <div class="accordion" (click) = toggleCertDropdowns(certCategory) [ngClass]="{
                  'active': certificationCategoriesOpen[certCategory]}">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-auto">
                          <h5>{{certCategory}}</h5>
                      </div>
                      <div class="col-auto" style="margin-left: auto;">
                        <h5>
                        <i [ngClass]="{
                          'fas fa-caret-up': certificationCategoriesOpen[certCategory],
                          'fas fa-caret-down': !certificationCategoriesOpen[certCategory]}"></i>
                         </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div [hidden] = "!certificationCategoriesOpen[certCategory]" >
                  <ul class="item-list">
                    <li *ngFor="let cert of employee.certifications" style="margin:0px; padding:0px;">
                      <div *ngIf="cert.certCategoryName == certCategory" class="list-item">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-auto"><strong>{{cert.certificationName}}</strong></div>
                            <div class="col-auto" style="margin-left: auto;">
                               <h4 class = "clickable" (click) = removeCertification(cert.certificationId)><i class="far fa-times-circle"></i></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>     
                </div>
              </li>
            </ul>
        </div>
      </div>
    <div class="col-lg-1"></div>
  </div>
</div>




<!--addSkill Modal template-->

<ng-template #addSkill let-c="close" let-d="dismiss">
    <div class="modal-header is-blue">
      <h4 class="modal-title text-white" id="modal-basic-title">Add a Skill</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <i class="fas fa-times text-white"></i>
      </button>
    </div>
    <div class="modal-body">
        <ngb-tabset justify="fill">
            <ngb-tab>
                <ng-template ngbTabTitle>Search</ng-template>
              <ng-template ngbTabContent>
               <div style="height:400px;">
                <ng-template #rt let-r="result" let-t="term">
                  <div (click) = addSkillBySearch(r)>
                      {{ r.skillName}} - {{r.skillTypeName}}
                  </div>
                  
                </ng-template>
                
                <label for="typeahead-template">Search for a skill:</label>
                <input placeholder ="Skill Name" id="typeahead-template" type="text" class="form-control" [(ngModel)]="skillSearchBox" [ngbTypeahead]="skillSearch" [resultTemplate]="rt"
                  [inputFormatter]="skillFormatter"  (focus) = clearSkillSearchBox() (focusout) = clearSkillSearchBox()/>
                  <div *ngIf = "addSkillSuccess" style="margin-top: 15px;">
                      <ngb-alert type="success" (close)="closeSkillAlert()">Skill Added</ngb-alert>
                  </div>
                  



               </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Browse</ng-template>
             
              <ng-template ngbTabContent>
                  <ul class="item-list">
                    <li *ngFor="let skillType of availableSkillTypes">
                        <div class="accordion" (click) = toggleAddSkillDropdowns(skillType) [ngClass]="{
                          'active': availableSkillTypesOpen[skillType]}">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-auto">
                                  <h5>{{skillType}}</h5>
                              </div>
                              <div class="col-auto" style="margin-left: auto;">
                                <h5>
                                <i [ngClass]="{
                                  'fas fa-caret-up': skillTypesOpen[skillType],
                                  'fas fa-caret-down': !skillTypesOpen[skillType]}"></i>
                                 </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div [hidden] = "!availableSkillTypesOpen[skillType]" >
                            <ul class="item-list">
                              <li *ngFor="let skill of availableSkills" style="margin:0px; padding:0px;">
                                <div *ngIf="skill.skillTypeName == skillType" class="list-item">
                                  <div class="container-fluid">
                                    <div class="row">
                                      <div class="col-auto"><strong>{{skill.skillName}}</strong></div>
                                      <div class="col-auto" style="margin-left: auto;">
                                         <h4 class = "clickable" (click)= addSkillToProfile(skill.skillId)><i class="fas fa-plus-circle"></i></h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>     
                          </div>
                    </li>
                  </ul>
                      
              </ng-template>
                </ngb-tab>
          </ngb-tabset>
    </div>
    </ng-template>


<!--Add Certification Modal template-->
    <ng-template #addCertification let-c="close" let-d="dismiss">
      <div class="modal-header is-blue">
        <h4 class="modal-title text-white" id="modal-basic-title">Add a Certification</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <i class="fas fa-times text-white"></i>
        </button>
      </div>
      <div class="modal-body">
          <ngb-tabset justify="fill">
              <ngb-tab>
                  <ng-template ngbTabTitle>Search</ng-template>
                <ng-template ngbTabContent>
                 <div style="height:400px;">
                    <ng-template #ct let-r="result" let-t="term">
                        <div (click) = addCertificationBySearch(r)>
                            {{ r.certificationName}} - {{r.certCategoryName}}
                        </div>
                        
                      </ng-template>
                      
                      <label for="typeahead-template">Search for a certification:</label>
                      <input placeholder="Certification Name" id="typeahead-template" type="text" class="form-control" [(ngModel)]="certSearchBox" [ngbTypeahead]="certSearch" [resultTemplate]="ct"
                        [inputFormatter]="certFormatter" (focus) = clearCertSearchBox() (focusout) = clearCertSearchBox()/>
                        <div *ngIf = "addCertSuccess" style="margin-top: 15px;">
                            <ngb-alert type="success" (close)="closeCertAlert()">Certification Added</ngb-alert>
                        </div>
                 </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>Browse</ng-template>
               
                <ng-template ngbTabContent>
                    <ul class="item-list">
                      <li *ngFor="let certCategory of availableCertificationCategories">
                          <div class="accordion" (click) = toggleAddCertDropdowns(certCategory) [ngClass]="{
                            'active': availableCertificationCategoriesOpen[certCategory]}">
                            <div class="container-fluid">
                              <div class="row">
                                <div class="col-auto">
                                    <h5>{{certCategory}}</h5>
                                </div>
                                <div class="col-auto" style="margin-left: auto;">
                                  <h5>
                                  <i [ngClass]="{
                                    'fas fa-caret-up': availableCertificationCategoriesOpen[certCategory],
                                    'fas fa-caret-down': !availableCertificationCategoriesOpen[certCategory]}"></i>
                                  </h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div [hidden] = "!availableCertificationCategoriesOpen[certCategory]" >
                              <ul class="item-list">
                                <li *ngFor="let cert of availableCertifications" style="margin:0px; padding:0px;">
                                  <div *ngIf="cert.certCategoryName == certCategory" class="list-item">
                                    <div class="container-fluid">
                                      <div class="row">
                                        <div class="col-auto"><strong>{{cert.certificationName}}</strong></div>
                                        <div class="col-auto" style="margin-left: auto;">
                                           <h4 class = "clickable" (click) = addCertificationToProfile(cert.certificationId)><i class="fas fa-plus-circle"></i></h4>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>     
                            </div>
                      </li>
                    </ul>
                        
                </ng-template>
                  </ngb-tab>
            </ngb-tabset>
      </div>
      </ng-template>