<ngb-tabset justify = "center">
   
    <ngb-tab>
      <ng-template ngbTabTitle><h4 style="color:black;">Skills</h4></ng-template>
      <ng-template ngbTabContent>
       <app-skills></app-skills>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle><h4 style="color:black;">Certifications</h4></ng-template>
        <ng-template ngbTabContent>
          <app-certifications></app-certifications>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
          <ng-template ngbTabTitle><h4 style="color:black;">Bulk</h4></ng-template>
          <ng-template ngbTabContent>
            <p>Bulk content</p>
          </ng-template>
        </ngb-tab>
  </ngb-tabset>
