<ngb-tabset justify = "center">
   
    <ngb-tab>
      <ng-template ngbTabTitle><h4 class="text-blue">Skills</h4></ng-template>
      <ng-template ngbTabContent>
       <app-skills></app-skills>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle><h4 class="text-light-blue">Certifications</h4></ng-template>
        <ng-template ngbTabContent>
          <p>Certifications content</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
          <ng-template ngbTabTitle><h4 class="text-dark-blue">Bulk</h4></ng-template>
          <ng-template ngbTabContent>
            <p>Bulk content</p>
          </ng-template>
        </ngb-tab>
        
  </ngb-tabset>
