<nav class="navbar is-blue" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink] = "['Home']">
                <h2 class="is-size-2 text-white has-text-weight-semibold">SkillTrax</h2>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
        </div>
        <div class="navbar-menu">
                <div class="navbar-end">
                        <a class="navbar-item text-white" [routerLink]="['Home']">
                                <h3 class="is-size-4">Home</h3>
                        </a>  
                        <a class="navbar-item text-white" [routerLink]="['Profile']"> 
                                <h3 class="is-size-4">Profile</h3>
                        </a>
                        <a class="navbar-item text-white" style="margin-right: 50px">
                                <h3 class="is-size-4">Admin</h3>
                        </a>  
                           
                </div>
        </div>
</nav>

