<!--intro page-->
<div class="jumbotron" *ngIf = "appliedFilters == null; else elseBlock" style ="height: 100vh; background:none;">
    <div class="container">
        <h1 class="text-center">Welcome to SkillTrax!</h1>
        <h4 class="text-center">The web app that tracks everyone's talents and abilities.</h4>
        <br>
        <p>Start by searching through the company for a specific attribute</p>
        <ng-template #rt let-r="result" let-t="term" >
            <div (click) = addFilter(r) >{{r.name}} - {{r.catagory}}</div>
        </ng-template>
                     
        <input placeholder="Search for a Person, Skill, Certification or Role" 
            id="typeahead-template" 
            type="text" class="form-control" [(ngModel)]="searchBox" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter"/>
    </div>
</div>








<ng-template #elseBlock>
    <div class="page-header">
        <h1>SkillTrax Home <small>Find who you need!</small></h1>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="conatiner-fliud" style="margin-bottom: 25px;">
                    <div class="row">
                        <div class="col-xs-1">
                                <label>Filters: </label>
                        </div>
                        <div class="col-xs-1" *ngFor="let filter of appliedFilters">
                           <span [ngClass] = "{
                               'is-blue': filter.Catagory == 'Skill',
                               'is-light-blue': filter.Catagory == 'Certification',
                               'is-dark-blue': filter.Catagory == 'Person',
                               'is-gray': filter.Catagory == 'Role'
                                }" class=" tag text-white" (click) = removeFilter(filter)>{{filter.Name}} 
                                <i class="far fa-times-circle" style="margin-left:4px;"></i>
                            </span>
                            
                        </div>
                    </div>
                    <ng-template #rt let-r="result" let-t="term" >
                            <div (click) = addFilter(r)>{{r.name}} - {{r.catagory}}</div>
                    </ng-template>
                        
                    <input placeholder="Add a Filter" id="typeahead-template" type="text" class="form-control" [(ngModel)]="searchBox" [ngbTypeahead]="search" [resultTemplate]="rt"
                    [inputFormatter]="formatter"/>
                    <div style="margin:10px"></div>
                    <div class="conatiner-fliud">
                        <div class="row">
                            <div class="col-sm-auto">
                                <button class=" btn is-dark-blue text-white" (click) = clearFilters()>Clear Filters</button>
                            </div>
                            <div class="col-sm-auto ">
                                <button class=" btn is-blue text-white" (click) = showAllEmployees()>Show All</button>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
                    <div class="card listCard">
                        <div class="card-body">
                            <h4>Employee matches:</h4>
                            <div *ngIf="filteredEmployees.length == 0; else EmployeeList">
                                    
                                <div *ngIf="appliedFilters.length == 0; else NoEmployees">
                                    <p class="errorMessage"><strong>Uh Oh!</strong> Looks like you haven't applied any filters. Try applying one to see some results, or click the show all button to view every employe.</p>
                                    <div style="text-align:center;">
                                        <i class="fas fa-users bigIcon"></i>
                                    </div>
                                </div>
                                <ng-template #NoEmployees>
                                    <p class="errorMessage"><strong>Oh No!</strong> Looks like you have too many applied filters. Try removing some to see some results!</p>
                                    <div style="text-align:center;">
                                        <i class="fas fa-users bigIcon"></i>
                                    </div>
                                </ng-template>
                            </div>
                            <ng-template #EmployeeList>
                                <div style="margin:75px"></div>
                                  
                                <ul class="people-list" #EmployeeList>
                                    <li *ngFor="let person of filteredEmployees">
                                        <app-employee-list-item [employee] ="person"></app-employee-list-item>
                                    </li>
                                </ul>
                            </ng-template>
                        </div> 
                    </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</ng-template>