$gray: rgb(217,217,217);

.header{
    margin-left: 50px;
    margin-bottom: 40px;
}
.tag{
    cursor: pointer;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    padding-top: 12px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    white-space: nowrap;
    margin-left: 10px;

}
.listCard{
    height: 750px;
    overflow-y: scroll;
}
.bigIcon{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1500%;
    color: rgb(91, 155, 213);
}
.errorMessage{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 25px;
}
.people-list{
    list-style-type: none
}

.is-blue {
    background-color: rgb(12,73,156);
}
.is-dark-blue {
    background-color: rgb(0,32,96);
}
.is-light-blue {
background-color: rgb(91, 155, 213);
}
.is-gray{
    background-color: rgb(128,128,128);
}
.text-white
{
    color: rgb(255,255,255);
}
.text-blue{
    color: rgb(12,73,156);
}
.is-white{
    background-color: rgb(255,255,255);
}
